body{
    background-image: url(fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



.d-flex{
    display: flex;
    gap: 10px;
    
}
 img,p{
    padding: 10 px;
 }
 img{
    
    width: 50%;
    height: 80%;
    border-radius: 30px;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
 }
 .d-flexdos{
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    
 }
h2{
 text-align: center;
 color: purple;
 background-color: skyblue;
}
h1{
    text-align: center;
    color: white;
    background-color: blue;
}
.h1,h2{
    font-family: monospace;
}
.d-flextres{
    text-align: center;
}


@keyframes show {
    from{
        opacity: 0;
        scale: 25%;


    }
    to {
        opacity: 1;
        scale: 100%;
    }
}
p{
    color: blue;
}
* {
    margin: 0;
    padding: 0;
}
ul{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex
}
ul li {
    list-style: none;
    font-weight: 500;
    font-size: 7vw;
    letter-spacing: 2.5vw;
    color: red;
    text-shadow: none;
    animation: anim 4s infinite linear;
}
@keyframes anim{
    0%{
        color: green;
        text-shadow: none;
    }
    18% {
        color: green;
        text-shadow: none;
    }
    20%{
        color:blue;
        text-shadow: 0 0 3vw orange,
        0 0 5vw purple;

    }
    30% {
        color:green;
        text-shadow: none;
    }
    35% {
        color:blue;
        text-shadow: 0 0 3vw orange,
        0 0 5vw purple;

    }
    70% {
        color:green;
        text-shadow: none;
    }
    85% {
        color:blue;
        text-shadow: 0 0 3vw orange,
        0 0 5vw purple;

    }
    90% {
        color:green;
        text-shadow: none;
    }
    100% {
        color:green;
        text-shadow: none;
    }
    
}
